@media screen and (max-width: 1050px) {
  .navbar {
    width: 94%;
  }
  .content-container {
    width: 94%;
  }
}

@media screen and (max-width: 1050px) {
  .navbar {
    width: 94%;
  }
  .content-container {
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  #portfolio .project-item {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #portfolio .all-projects .project-info {
    height: 100%;
  }
  #portfolio .all-projects .project-img {
    height: 100%;
  }
  #portfolio .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 760px) {
  .portfolio-text-container,
  .portfolio-image-container {
    width: 100%;
  }
  .content-container {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .menu-btn-container {
    display: block;
  }
  .nav-link {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    background: #2f4858;
    z-index: 2;
  }
  .nav-link > a {
    padding: 30px;
    margin: 0px;
    width: 100%;
  }
  .nav-link > a:hover {
    background: #38ef7d;
  }
  #menu-btn {
    cursor: pointer;
    font-size: 40px;
    color: #eaffda !important;
  }
}
